<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Тестовое задание</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'task' tagName='li'}}
          <a href="#">Постановка</a>
        {{/link-to}}
        {{#link-to 'todos' tagName='li'}}
          <a href="#">Решение</a>
        {{/link-to}}
      </ul>
    </div>
  </div>
</nav>

<!-- Begin page content -->
<div class="container main">
  {{outlet}}
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Ember-tasks, 2016</p>
  </div>
</footer>
