<div class="row">
  <div class="col-sm-6">
    <p>Необходимо создать список задач.</p>

    <p>Кратко о том, что должно быть сделано (описание взято из preview):</p>
    <ul>
      <li>отобразить список задач</li>
      <li>добавить новую задачу</li>
      <li>отметить задание как выполненное классом "done"</li>
      <li>отметить задание как новое, убрав класс "done"</li>
      <li>отобразить число выполненных задач</li>
      <li>отобразить число невыполненных задач</li>
    </ul>
    <p><b>Задача - максимум (реализовывать не нужно):</b></p>

    <p>
      Представим, что нам нужно сохранить состояние наших задач (решенные, нерешенные) при нажатии на checkbox. Каким
      способом можно реализовать сохранение объекта Что нужно поменять в шаблоне? Как должен быть представлен элемент списка?
    </p>
    <p><b>Ответ:</b></p>
    <p></p>
  </div>
  <div class="col-sm-6">
    <img src="/img/rslt.gif" class="img-thumbnail img-responsive" alt="Responsive image">
  </div>
</div>