<div class="row">
  <div class="col-sm-6">
    <form class="form-inline">
      <div class="form-group">
        {{input type="text" class="form-control"}}
      </div>
      <button class="btn btn-default">Создать задачу</button>
    </form>
    <hr/>
    <h4>Новые задачи: </h4>
    <hr/>
    <ol class="list-unstyled">
      {{#each model as |task|}}
        <li>
          {{input type="checkbox"}} {{task.name}}
          <i class="fa fa-times m-l-10"></i>
        </li>
      {{/each}}
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h4>Завершенные задачи: </h4>
    <hr/>
  </div>
</div>
